{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.00">
        <title>
            Calculator Main Menu
        </title>
        <link rel="stylesheet" href="{% static 'HomeScreen/css/Style.css' %}">
    </head>
    <body>
        <h1>
            This is the Main Menu for My Calculators!
        </h1>
        <h2>
            Please Select Which Calculator You Will Use
        </h2>
        <div id="Container">
            <div id="POE">
                <a href="{% url 'engineeringCalculator' %}">
                    Principles of Engineering Calculator
                    <img src="{% static 'HomeScreen/icons/EngineeringButton.svg' %}" alt="Picture of 3 Gears">
                </a>
            </div>
            <div id="Math">
                <a href="{% url 'mathCalculator' %}">
                    Math Calculator
                </a>
            </div>
            <div id="Science">
                <a href="{% url 'scienceCalculator' %}">
                    Science Calculator
                </a>
            </div>
            <div id="General">
                <a href="{% url 'generalCalculator' %}">
                    General Calculator
                </a>
            </div>
        </div>
    </body>
</html>