{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.00">

        <title>
            Calculator Main Menu
        </title>

        <link rel="icon" type="image/x-icon" href="{% static 'HomeScreen/icons/Favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'HomeScreen/css/Style.css' %}?v={{ now|date:'U' }}">

        <script src="{% static 'HomeScreen/js/DetectOS.js' %}" defer></script>
    </head>
    <body>
        <h1>
            This is the Main Menu for My Calculators!
        </h1>
        <h2>
            Please Select Which Calculator You Will Use
        </h2>
        <p>

        </p>
        <div id="Container">
            <div id="POE">
                <a href="{% url 'principlesOfEngineeringCalculator' %}">
                    Principles of Engineering Calculator
                </a>
            </div>
            <div id="Math">
                <a href="{% url 'algebraIIHonorsCalculator' %}">
                    Algebra Calculator
                </a>
            </div>
            <div id="Science">
                <a href="{% url 'chemistryIACPCalculator' %}">
                    Chemistry Calculator
                </a>
            </div>
            <div id="General">
                <a href="{% url 'generalCalculator' %}">
                    General Calculator
                </a>
            </div>
        </div>
    </body>
</html>