{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Calculator Main Menu
        </title>
        <link rel="stylesheet" href="{% static 'HomeScreen/css/Style.css' %}">
    </head>
    <body>
        <h1>
            This is the Main Menu for My Calculator!
        </h1>
        <h2>
            Please Select Which Calculator You Will Use
        </h2>
        <h4>
            <a href="{% url 'engineeringCalculator' %}">
                Engineering Calculator
            </a>,
            <a>
                Science Calculator
            </a>,
            <a>
                Math Calculator
            </a>
        </h4>
    </body>
</html>